<p id="notice"><%= notice %></p>

<div>
  <div class="row" >
    <div class="col">
      <div class="d-flex justify-content-start"><h1>Moderators (<%= @moderators.count %>)</h1></div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end pt-3"><%= link_to 'New Moderator', new_admin_moderator_path, method: :get, class: "btn btn-primary" %></div>
    </div>
  </div>
</div>

<table class="table table-ligth table-striped table-hover w-100">
  <thead>
  <tr class="d-flex">
    <th class="col-1"></th>
    <th class="col-1">ID</th>
    <th class="col-5">Email</th>
    <th class="col-4">Name</th>
    <th class="col"></th>
  </tr>
  </thead>

  <tbody class="w-100">
  <% @moderators.each do | moderator | %>
    <tr class="d-flex">
      <td class="col-1"><%= link_to 'Edit', edit_admin_moderator_path(moderator), class: 'text-decoration-none' %></td>
      <th class="col-1"> <%= moderator.id %></th>
      <td class="col-5"><%= moderator.email %></td>
      <td class="col-4"><%= moderator.name %></td>
      <td class="col"><%= link_to 'Destroy', [:admin, moderator], method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-decoration-none' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
