<h1>Добавление администратора</h1>
<div class="form-container">
  <%= form_with(model: [:admin, @moderator], html: {class: 'w-50'}) do |form| %>
    <%= form.label :name %>
    <div class="input-group">
      <%= form.text_field :name, class: "form-control #{field_validity_css_class(@moderator, :name)}" %>
      <%= catched_errors(@moderator, :name) %>
    </div>
    <%= form.label :email %>
    <div class="input-group">
      <%= form.text_field :email, class: "form-control #{field_validity_css_class(@moderator, :email)}" %>
      <%= catched_errors(@moderator, :email) %>
    </div>
    <%= form.label 'Роль' %>
    <div class="input-group">
      <%= form.select :role, Moderator.roles.keys.map { |role| [enum_i18n(Moderator, Moderator.roles, role), role] }, {}, class: "my-custom-select" %>
    </div>
    <%= form.label :password %>
    <div class="input-group">
      <%= form.password_field :password, class: "form-control #{field_validity_css_class(@moderator, :password)}" %>
      <%= catched_errors(@moderator, :password) %>
    </div>
    <%= form.label :password_confirmation %>
    <div class="input-group">
      <%= form.password_field :password_confirmation, class: "form-control #{field_validity_css_class(@moderator, :password_confirmation)}" %>
      <%= catched_errors(@moderator, :password_confirmation) %>
    </div>
    <div data-turbolinks="false">
      <%= form.submit 'OK', class: 'btn-ok mr-2' %>
      <%= link_to 'Отмена', admin_moderators_path, class: 'btn-cancel' %>
    </div>
  <% end %>
</div>
