<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="main_content shop pb-20 mb-90 mt-90">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-md-10">
          <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
            <div class="padding_eight_all bg-white">
              <div class="heading_s1">
                <h3 class="mb-30">Регистрация</h3>
              </div>
              <form method="post">
                <div class="form-group">
                  <%= f.text_field :name, autofocus: true, placeholder: 'Имя', class: "form-control #{field_validity_css_class(resource, :name)}" %>
                  <%= catched_errors(resource, :name) %>
                </div>
                <div class="form-group">
                  <%= f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'Email', class: "form-control #{field_validity_css_class(resource, :email)}" %>
                  <%= catched_errors(resource, :email) %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password, autocomplete: 'current-password', placeholder: 'Пароль', class: "form-control #{field_validity_css_class(resource, :password)}" %>
                  <%= catched_errors(resource, :password) %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password_confirmation, autocomplete: 'current-password', placeholder: 'Подтверждение пароля', class: "form-control #{field_validity_css_class(resource, :password_confirmation)}" %>
                  <%= catched_errors(resource, :password_confirmation) %>
                </div>
                <div class="form-group">
                  <%= f.submit 'Зарегистрироваться', class: 'btn btn-fill-out btn-block' %>
                </div>
              </form>
              <div class="divider-text-center mt-15 mb-25">
                <span>или</span>
              </div>
              <%- if controller_name != 'sessions' %>
                <div class="text-muted text-center">Уже есть аккаунт?
                  <%= link_to 'Войти сейчас', new_session_path(resource_name) %>
                </div>
              <% end -%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
