<h3 class="mb-30">Оставь комментарий</h3>
<%= form_with(model: [@article, @article.comments.build], url: "/articles/#{@article.id}/comments", local: false) do |form| %>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <%= form.text_area :body, id: "comment", cols: "30", rows: "9", placeholder: "Напиши комментарий", id: 'comment-body', class: "form-control w-100 #{field_validity_css_class(@article.comments.last, :body)}" %>
        <%= catched_errors(@article.comments.last, :body) %>
      </div>
      <%= form.hidden_field :user_id, value: current_user.id, id: 'user-id' %>
      <%= form.hidden_field :article_id, id: 'article-id' %>
    </div>
  </div>
  <div class="form-group">
    <%= form.submit 'Отправить', class: 'button button-contactForm', id: 'submit-comment-creation' %>
  </div>
<% end %>
