<p id="notice"><%= notice %></p>
<div class="archive-header text-center">
  <div class="container">
    <h2><span class="color2">Articles</span></h2>
    <div class="bt-1 border-color-1 mt-30 mb-50"></div>
  </div>
</div>
<div class="main_content sidebar_right pb-50">
  <div class="container">
    <%= link_to 'New Article', new_admin_article_path, class: 'btn btn-create' %>
    <div class="row row-cols-1 row-cols-md-3">
      <% @articles.each do |article| %>
        <div class="col mb-4">
          <div class="card h-100">
            <% if article.avatar.present? %>
              <img src="<%= article.avatar.index_admin.url %>" class="card-img-top img-size" alt="...">
            <% else %>
              <img src="<%= asset_path('no-image.png') %>" class="card-img-top img-size" alt="...">
            <% end %>

            <%= link_to '', [:admin, article], class: 'img-link' %>
            <div class="card-body">
              <!--<div class="entry-meta meta-0 font-small mb-15">
                <a href="category.html"><span class="post-cat background2 ">Travel</span></a>
              </div>-->
              <h5 class="card-title"><%= link_to article.title, [:admin, article] %></h5>
              <p class="card-text"><%= article.description %></p>
              <!--              <p class="card-text"><small class="text-muted"><%#= article_creation_time(article) %></small></p>-->
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
