<p id="notice"><%= notice %></p>
<div class="archive-header text-center">
  <div class="container">
    <h2><%= link_to 'Articles', admin_articles_url, class: 'color2' %></h2>
  </div>
</div>
<div class="container search-form mb-4">
<%= search_form_for [:admin, @query] do |f| %>

  <%= f.label :title_or_description_cont %>
  <div class="mb-2">
    <%= f.search_field :title_or_description_cont, class: 'form-control search-form-el'%>
  </div>

  <%= f.label 'Categories' %>
  <div class="mb-2">
    <%= f.collection_select :category_id_in, @categories, :id, :name, {}, multiple: true, class:'js-multiple-select w-100'%>
  </div>

  <%= f.label 'Tags' %>
  <div class="mb-2">
    <%= f.collection_select :tags_name_in, @tags, :name, :name, {}, multiple: true, class:'js-multiple-select w-100'%>
  </div>
  
  <%= f.label 'Statuses' %>
  <div class="mb-2">
    <%= f.collection_select :status_in, @articles.statuses, :second, :first, {}, multiple: true, class:'js-multiple-select w-100'%>
  </div>

  
  <div class="form-group">
    <div class="float-right">
      <%= link_to "Clear", request.path, class: 'clear' %>
      <%= f.submit class: 'search' %>
    </div>
  </div>
<% end %>
</div>

<div class="main_content sidebar_right pb-50">
  <div class="container">
    <%= create_new_article %>
    <div class="row row-cols-1 row-cols-md-3">
      <% @articles.each do |article| %>
        <div class="col mb-4">
          <div class="card h-100">
            <%= article_avatar_small_preview(article) %>
            <%= link_to '', [:admin, article], class: 'img-link' %>
            <div class="card-body">
              <a href="#"><span>Category: <%= article.category.name %></span></a>
              <p class="post-on has-dot">Status: <%= article.status %></p>

              <div class="bt-1 border-color-1 mb-1"></div>
              <h5 class="card-title"><%= link_to article.title, [:admin, article] %></h5>
              <p class="card-text"><%= article.description %></p>
              <!--              <p class="card-text"><small class="text-muted"><%#= article_creation_time(article) %></small></p>-->
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
