<h1>New Article</h1>
<div class="form-container">
  <%= form_with(model: [:admin, @article]) do |form| %>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
        <ul>
          <% @article.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @article.avatar.url.present? %>
      <%= image_tag @article.avatar.show.url %>
    <% end %>

    <div class="input-group">
      <span class="input-group-text">Title</span>
      <%= form.text_area :title, maxlength: "80", class: "title" %>
    </div>

    <div class="input-group">
      <span class="input-group-text">Description</span>
      <%= form.text_area :description, maxlength: "115", class: "description" %>
    </div>

    <%= form.file_field :avatar, class: 'mb-2' %>

    <div class="field">
      <%= form.rich_text_area :content %>
    </div>
    <div class="mt-10">
      <%= form.submit 'OK', class: 'btn btn-primary w-25 mr-3' %>
      <%= link_to 'Cancel', admin_articles_path, class: 'btn btn-secondary w-25' %>
    </div>
  <% end %>
</div>
