<h1>New Article</h1>
<div class="form-container">
  <%= form_with(model: [:admin, @article]) do |form| %>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
        <ul>
          <% @article.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="input-group mb-2">
      <span class="input-group-text">Title</span>
      <%= form.text_area :title, maxlength: "80", class: "title" %>
    </div>

    <div class="input-group mb-2">
      <span class="input-group-text">Description</span>
      <%= form.text_area :description, maxlength: "115", class: "description" %>
    </div>

    <%= form.file_field :avatar, class: 'mb-2' %>

    <div class="mb-2">
      <%= form.check_box :avatar_disable, class: 'mr-2' %>
      Disable Avatar
    </div>
    <div class="field">
      <%= form.select :category_id, @categories.pluck(:name, :id), class: 'mr-2' %>
    </div>

    <div class="field">
      <%= form.rich_text_area :content %>
    </div>

    <div class="field mt-2">
      <%= form.text_field :tag_list, placeholder: 'Tags (sep by space)'%>
    </div>

    <div class="mt-10">
      <%= form.submit 'OK', class: 'btn btn-primary w-25 mr-3' %>
      <%= link_to 'Cancel', admin_articles_path, class: 'btn btn-secondary w-25' %>
    </div>
  <% end %>
</div>
