<h1>Добавление Новости</h1>
<div class="form-container">
  <%= form_with(model: [:admin, @article]) do |form| %>
    <div class="text-center image-container img-fluid mb-3" id='img-preview'>
    </div>

    <div class="input-group">
      <span class="input-group-text">Заголовок</span>
      <%= form.text_area :title, maxlength: "80", class: "title #{field_validity_css_class(@article, :title)}" %>
      <%= catched_errors(@article, :title) %>
    </div>

    <div class="input-group mb-2">
      <span class="input-group-text">Описание</span>
      <%= form.text_area :description, maxlength: "115", class: "description #{field_validity_css_class(@article, :description)}" %>
      <%= catched_errors(@article, :description) %>
    </div>

    <div class="custom-file mb-2">
      <%= form.file_field :avatar, id: 'customFile', class: "custom-file-input #{field_validity_css_class(@article, :avatar)}" %>
      <%= catched_errors(@article, :avatar) %>
      <label id="file-name-input" class="custom-file-label" for="customFile">Выберите изображение</label>
    </div>

    <div class="mb-2">
      <%= form.check_box :avatar_disable, class: 'mr-2' %>
      Отключить аватар
    </div>

    <%= form.select :category_id, Category.pluck(:name, :id),{}, class: 'custom-select custom-select-lg mb-3' %>

    <div class="field mt-3">
      <%= form.rich_text_area :content, class: "#{field_validity_css_class(@article, :content)}" %>
      <%= catched_errors(@article, :content) %>
    </div>

    <div class="field mt-2">
      <%= form.collection_select :tag_list, Tag.all, :name, :name, {}, multiple: true, class:'tag-select w-100' %>
      <%= catched_errors(@article, :tag_list) %>
    </div>

    <div class="mt-10">
      <%= form.submit 'OK', class: 'btn-ok mr-2' %>
      <%= link_to 'Отмена', admin_articles_path, class: 'btn-cancel' %>
    </div>
  <% end %>
</div>
