<p id="notice"><%= notice %></p>
<div class="main_content sidebar_right pb-50 pt-50">
  <div class="container">
    <div class="mb-10">
      <%= link_to 'Back', admin_articles_path, class: 'btn-secondary btn-back' %>
      <%= link_to 'Edit', edit_admin_article_path(@article), class: 'btn btn-edit' %>
    </div>
    <div class="divider-text-center mt-10 mb-30">
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="entry-header entry-header-1 mb-30">
          <div class="entry-meta meta-0 font-small mb-15">
            <a href="category.html"><span class="post-cat background2 color-white">Technology</span></a></div>
          <h1 class="post-title">
            <%= @article.title %>
          </h1>
          <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
            <span class="post-on has-dot"><%= article_creation_time(@article) %></span>
          </div>
        </div>
        <% if @article.avatar.present? %>
          <%= image_tag @article.avatar.url, class: 'mb-3' %>
          <div class="divider mb-3"></div>
        <% end %>

        <%= @article.content %>
        <div class="entry-bottom mt-50 mb-30">
          <div class="tags">
            <a href="category.html" rel="tag">couple</a>
            <a href="category.html" rel="tag">in love</a>
            <a href="category.html" rel="tag">romantice</a>
          </div>
        </div>
      </div>
    </div>
    <div class="divider-text-center mt-15 mb-30">
    </div>
    <%= link_to 'Destroy', [:admin, @article], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-destroy' %>
  </div>
</div>
