<p id="notice"><%= notice %></p>
<div class="main_content sidebar_right pb-50 pt-50">
  <div class="container">
    <div class="mb-10">
      <%= link_to 'Back', admin_articles_path, class: 'btn-back' %>
      <% if @article.inactive? %>
        <%= edit_article(@article) %>
        <%= send_for_review(@article) %>
      <% elsif current_moderator.editor? %>
        <button id="open-comment-field" class="btn-comment">Comment</button>
        <%= publish_article(@article) %>
      <% end %>
    </div>
    <div class="divider-text-center mt-20 mb-30">
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <div id="review-comment" class="hiden-div">
          <%= render_review_form(@review) %>
          <div class="divider mb-15 mt-15"></div>
        </div>
        <%= review_comment(@article) %>
        <div class="entry-header entry-header-1 mb-30">
          <a href="#"><span>Category: <%= @article.category.name %></span></a>
          <h1 class="post-title">
            <%= @article.title %>
          </h1>
          <div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
            <!--            <span class="post-on has-dot"><%#= article_creation_time(@article) %></span>-->
            <span class="post-on has-dot">Status: <%= @article.status %></span>
          </div>
        </div>

        <%= article_avatar(@article)%>
        <div class="divider mb-3"></div>
        
        <%= @article.content %>
        <div class="entry-bottom mt-50 mb-30">
          <div class="tags">
            <% @article.tags.each do |tag| %>
              <%= link_to tag, admin_articles_url(tag: tag.name) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="divider-text-center mt-15 mb-40">
    </div>
    <%= destroy_article(@article) %>
  </div>
</div>
