<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <div class="main_content shop pb-238 mt-100 mb-200 custom-mb-1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-md-10">
          <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
            <div class="padding_eight_all bg-white">
              <div class="heading_s1">
                <h3 class="mb-30">Восстановление пароля</h3>
              </div>
              <%= f.hidden_field :reset_password_token %>
              <div class="form-group">
                <%= f.label 'Новый пароль' %>
                <%= f.password_field :password, autofocus: true, class: "form-control #{field_validity_css_class(resource, :password)}" %>
                <%= catched_errors(resource, :password) %>
              </div>
              <div class="form-group">
                <%= f.label 'Подтверждение пароля' %>
                <%= f.password_field :password_confirmation, autocomplete: 'off', class: "form-control #{field_validity_css_class(resource, :password_confirmation)}" %>
                <%= catched_errors(resource, :password_confirmation) %>
              </div>
              <div class="form-group">
                <%= f.submit 'Изменить пароль', class: 'btn btn-fill w-100' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
