<%= form_with(model: [:admin, @article, review], url: admin_article_reviews_path(@article)) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :article_id %>

  <div class="field">
    <%= form.rich_text_area :comment %>
  </div>

  <div class="field">
    <%= form.select :status, review_statuses %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn-return' %>
  </div>
<% end %>
