<%= form_with(model: [:admin, @article, review], url: admin_article_reviews_path(@article)) do |form| %>
  <%= form.hidden_field :article_id %>
  <%= form.hidden_field :moderator_id, value: current_moderator.id %>
  <div class="field mb-2">
    <%= form.rich_text_area :comment %>
  </div>

  <div class="field">
    <%= form.select :status, review_statuses.keys.map { |status| [enum_i18n(ArticleReview, ArticleReview.statuses, status), status] }, {}, {class: "form-control"}  %>
  </div>

  <div class="actions">
    <%= form.submit 'Отправить', class: 'btn-return' %>
  </div>
<% end %>
