<!DOCTYPE html>
<html>
  <head>
    <title>NG Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% flash.each do |name, message| %>
      <div class="flash_message" style="display: none" flash-type="<%= flash_type(name) %>">
        <%= message %>
      </div>
    <% end %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <%= link_to 'NG Admin', admin_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" data-turbolinks="false">
            <%= link_to_moderators %>
          </li>
          <li class="nav-item" data-turbolinks="false">
            <%= link_to_users %>
          </li>
          <li class="nav-item">
            <%= link_to 'Новости', admin_articles_path, class: 'nav-link' %>
          </li>
          <li class="nav-item" data-turbolinks="false">
            <%= link_to_categories %>
          </li>
          <li class="nav-item" data-turbolinks="false">
            <%= link_to_comments %>
          </li>
          <% if current_moderator.admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Отчёты
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to_users_report %>
              <%= link_to_correspondents_report %>
              <div class="dropdown-divider"></div>
              <%= link_to_articles_report %>
            </div>
          </li>
          <% end %>
        </ul>
        <%= link_to 'выход', destroy_moderator_session_path, method: :delete, class: 'btn-logout m-1' %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
